<div class="row">
  <div class="col blockquote text-center">
    Bienvenue sur {{ title }}, l'application de solidarité de la Doua&#8239;! Prêter et emprunter du matériel en tout sérénité&#8239;!
  </div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="row" *ngIf="error">
    <div class="col">
      <div class="alert alert-danger">
        <button type="button" class="close" aria-label="Close" (click)="error=null">
          <span>&times;</span>
        </button>
        <fa name="exclamation-triangle" style="margin-right: 10px;"></fa> {{ error }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label for="email">Mail :</label>
      <input name="email" formControlName="email" class="form-control" type="email">
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label for="password">Mot de passe :</label>
      <input name="password" formControlName="password" class="form-control" type="password">
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <a routerLink="/forgottenpassword">Mot de passe oublié</a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Se connecter</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      ou
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a routerLink="/createaccount" class="btn btn-primary btn-block">Créer un compte</a>
    </div>
  </div>
</form>
