<div class="row">
  <div class="col blockquote text-center">
    Bienvenue sur {{ title }}, l'application de solidarité de la Doua&#8239;! Prêter et emprunter du matériel en tout sérénité&#8239;!
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Mail :</span>
  </div>
  <div class="col-7 form-group">
    <input name="email" class="form-control" type="email">
    <div class="col form-check">
      <label class="form-check-label" for="email"></label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Mot de passe :</span>
  </div>
  <div class="col-7 form-group">
    <input name="password" class="form-control" type="password">
    <div class="col form-check">
      <label class="form-check-label" for="password"></label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <a href="#">Mot de passe oublié</a>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">Se connecter</button>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    ou
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <a href="#" class="btn btn-primary">Créer un compte</a>
  </div>
</div>