<app-loginguard></app-loginguard>

<div class="row">
  <div class="col text-center title-page-larry">
    Nouvelle annonce
  </div>
</div>

<form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <!-- div for the product's picture -->
    <div class="col text-center" style="position:relative;">
      <br/>
      <img class="center" [src]="profileImage" style="height:120px;">
      <input [src]="profileImage" required accept=".jpg" (change)="onFileUpload($event)"
             type="file" class="center" style="opacity: 0.0; position: absolute; right:0; width: 100%; height:100%;" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Titre :</label>
      <input formControlName="titre" class="form-control" type="text">
      <label>Catégorie :</label>
      <select class= "form-control selectCategories">
        <option *ngFor="let categorie of categories" value="{{categorie.id}}"> {{categorie.value}} </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Caution :</label>
      <input formControlName="caution" class="form-control" type="number" placeholder="€">
      <label>Durée max :</label>
      <input formControlName="maxDuration" class="form-control" type="text" placeholder="jours">
      <label>Description :</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col">
      <a routerLink="/accueil" class="btn btn-primary btn-block pull-left">Annuler</a>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary btn-block pull-right">Valider</button>
    </div>
  </div>
</form>
