<app-loginguard></app-loginguard>
<div class="row">
	<div class = "title-page-larry col blockquote text-center">Mon compte</div>
</div>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <!--<div class="row">
    <div class="container-fluid">
      <div class="card mx-auto">
        <div class="row card-body" style="padding-bottom: 0;">
          <div class="col-4">
            <img *ngIf="hasProfilePicture() == false || editMode" [src]="profileImage" alt="image" style="width: 100%;">
            <input *ngIf="editMode" [src]="profileImage" accept=".jpg" (change)="onFileUpload($event)"
              type="file" class="center" style="opacity: 0.0; position: absolute; right:0; width: 100%; height:100%;" />
            <img *ngIf="hasProfilePicture() && !editMode" [src]="getUserProfilePicture()" alt="image" style="width: 100%;">
          </div>
          <div class="col-8">
            <h5 *ngIf="!editMode" class="card-title">{{getUserFirstName()}} {{getUserLastName() | uppercase}}</h5>
            <input *ngIf="editMode" name="nom" formControlName="firstName" class="form-control" type="text">
            <input *ngIf="editMode" name="nom" formControlName="lastName" class="form-control" type="text">
            <p class="card-link">{{getUserEmail()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    <div class="row">
      <div class="col text-center">
        <img *ngIf="hasProfilePicture() == false" [src]="profileImage" alt="image" style="width: 90%; border-radius: 300px;">
        <img *ngIf="editMode" [src]="profileImage" alt="image" style="width: 90%; border-radius: 300px; opacity: 0.4;">
        <input *ngIf="editMode" [src]="profileImage" accept=".jpg" (change)="onFileUpload($event)"
               type="file" class="center" style="opacity: 0.0; position: absolute; right:0; width: 100%; height:100%;" />
        <img *ngIf="hasProfilePicture() && !editMode" [src]="getUserProfilePicture()" alt="image" style="width: 90%; border-radius: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 *ngIf="!editMode" class="card-title text-center">{{getUserFirstName()}} {{getUserLastName() | uppercase}}</h5>
        <div class="" *ngIf="editMode">
          <div class="row">
            <div class="col-4 pull-left">
              <b>Prénom :</b>
            </div>
            <div class="col-8">
              <input *ngIf="editMode" name="nom" formControlName="firstName" class="form-control" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-4 pull-left"><b>Nom :</b></div>
            <div class="col-8">
              <input *ngIf="editMode" name="nom" formControlName="lastName" class="form-control" type="text"> <br/>
            </div>
          </div>
        </div>
        <p class="card-link text-center">{{getUserEmail()}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button *ngIf="!editMode" (click)="edit()" class="btn btn-primary btn-block">Éditer mes informations</button>
        <button *ngIf="editMode" type="submit" class="btn btn-primary btn-block">Valider les changements</button>
      </div>
    </div>
    <hr style="height: 10px;">
</form>
<div class="row">
	<div class="col">
		<div class="container-fluid">
      <div class="row">
        <div class="col">
          Note annonceur
        </div>
        <div class="col" style="position: relative;">
          <div class="star-ratings-css" style="position: absolute; top: -7px;">
            <div class="star-ratings-css-top" [style]="getStarsAnnouncerStyle()"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Note matériel
        </div>
        <div class="col" style="position: relative;">
          <div class="star-ratings-css" style="position: absolute; top: -7px;">
            <div class="star-ratings-css-top" [style]="getStarsMaterialStyle()"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Note demandeur
        </div>
        <div class="col" style="position: relative;">
          <div class="star-ratings-css" style="position: absolute; top: -7px;">
            <div class="star-ratings-css-top" [style]="getStarsApplicantStyle()"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
