.top-right-icon {
  position: absolute;
  top: -1px;
  right: -1px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.miniThumbnailCustom{
  max-width: 120px;
}

.secondRow{
  margin-top: 10px;
}

.topMargin{
  margin-top: 20px;
}

.titleAnnonce{
  height: 34px;
  border-bottom : 1px solid #dee2e6!important;
}

.infosAnnonce{
  border-top : 1px solid #dee2e6!important;
}

.magicMargin{
  margin: auto;
}

.customBorder{
  border : 1px solid #dee2e6!important;
}

.sideMargin{
  margin-right: 3px;
  margin-left: 3px;
}
