/* You can add global styles to this file, and also import other style files */
.navbar {
  background-color: #b7dcfd !important;
}

.navbar-header {
  box-shadow: 0px -8px 5px 10px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}

.navbar-footer {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #b7dcfd !important;
  box-shadow: 0px 9px 5px 8px rgba(0,0,0,0.75)
}

.nice-shadow {
  box-shadow: 0px 1px 6px 0px #AAA;
  background-color: white;
}

body {
  background-color: #f5f6ff;
}

.title-page-larry {
  font-size: large;
  border: 0px solid;
  text-align: center;
}


.navbar-icon {
  font-size: large;
  color: #212529;
}

.navbar-icon:hover {
  font-size: large;
  color: #212529;
}
