.marginTop{
    margin-top: 10px;
}

.marginTopCustom{
    margin-top: 80px;
}

.boutonAnnonce{
    margin-top : 10px;
}

.searchDiv{
    position: relative;
}

.searchInput{
    width : 100%;
}

.searchIcon{
}

.selectCategories{
    margin-top: 20px;
}

.pieceOfAnnonce{
    margin-top: 10px;
}
